.comments-container-head{
    display: flex;
    flex-direction: column;
    width: 7cm;
    height: 6cm;
    background-color: rgb(224, 227, 230);
    margin-left: -200px;
    position: absolute;
    box-shadow: 10px 10px 10px rgba(75, 73, 73, 0.2);
    border-radius: 10px;
}
.type-send{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 35px;
    margin: 3px;
}
.type-send input{
    background-color: white;
    height: 0.5cm !important;
}
.comments-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5cm;
    overflow: hidden;
}
.comments-list-container{
    height: 4cm;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
#comment-id{
    margin: 10px;
}