.creation {
  /* height: 8cm; */
  background-color: #f1f3f4;
  display: flex;
  justify-content: center;
}
.docs-tilte-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* width: 26cm; */
}
.all-cards {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
}
.sheets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.outer-creation {
  background-color: #f1f3f4;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
  /* height: 9cm; */
}
@media (max-width: 700px) {
  .sheets {
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  /* .outer-creation {
    display: flex;
    flex-direction: column;
    background-color: red;
  } */
  .creation {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1000px) {
  .all-cards {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
  }
}
