@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL@20..48,100..700,1,-50..200");

.header {
  display: flex;
  height: 65px;
  margin: 0px;
}
.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

li {
  font-family: "Roboto", sans-serif;
}

input {
  margin: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  outline: none !important;
  height: 40px;
  width: 450px;
  background-color: #f1f3f4;
}
.buttons {
  margin-left: 0cm;
}
h7 {
  font-family: "Poppins", sans-serif;
}
.buttons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.buttons li {
  display: inline-block;
  padding: 10px;
  margin-top: 0px;
  border-radius: 15px;
  cursor: pointer;
}
.buttons li:hover {
  background-color: #f1f3f4;
}
@media (max-width: 700px) {
  input {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .buttons {
    display: none;
  }
}
.app-container {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  margin-right: 0%;
}

.apps {
  cursor: pointer;
  margin: 20px;
  transform: scale(1.4);
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.signUp {
  background-color: aqua;
  margin: 10px;
  width: 100px;
  border-radius: 20px;
  height: 40px;
  border: none;
  margin-left: auto;
  justify-content: flex-end;
}
.signUp:focus {
  outline: none;
}
.signUp:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.icon {
  height: 50px;
}
.docs-title {
  display: flex;
  flex-direction: column;
}
