@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 65px;
}
.input-wrapper {
  margin: 10px;
  border-radius: 10px;
  margin-right: 10%;
  margin-left: 10%;
  background-color: #f1f3f4;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media (max-width: 700px) {
  input {
    width: 100%;
  }
  .input-wrapper {
    display: none !important;
  }
}
@media (max-width: 1050px) {
  p {
    font-size: 20px !important;
  }
  .input-wrapper {
    display: none !important;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
}
.apps {
  cursor: pointer;
}
.signUp {
  background-color: black;
  color: white;
  margin: 10px;
  width: 100px;
  border-radius: 20px;
  border: none;
  margin-left: auto;
  justify-content: flex-end;
}
.signUp:focus {
  outline: none;
}
.signUp:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.icon {
  height: 50px;
}
