@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.header {
  display: flex;
  height: 65px;
  margin: 0px;
}
.input-wrapper {
  margin: 10px;
  width: 5cm;
  border-radius: 20px;
  margin-right: 10%;
  margin-left: 25%;
  background-color: #f1f3f4;
}

@media (max-width: 700px) {
  input {
    width: 100%;
  }
}
.apps {
  cursor: pointer;
}
.signUp {
  background-color: aqua;
  margin: 10px;
  width: 100px;
  border-radius: 20px;
  border: none;
  margin-left: auto;
  justify-content: flex-end;
}
.signUp:focus {
  outline: none;
}
.signUp:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.icon {
  height: 50px;
}
