@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
.bold {
  font-size: 20px;
}
.bold:hover {
  background-color: white;
  cursor: pointer;
}
.change {
  display: flex;
  flex-direction: row;
  width: 9cm;
}
