.pad {
  display: flex;
  background-color: rgb(249, 251, 253);
  height: 50cm;
  justify-content: center;
  align-items: center;
  /* overflow-y: scroll; */
}
.page {
  height: 48cm;
  width: 25cm;
  text-indent: 40px;
  background-color: white;
  border: 2px solid grey;
  overflow: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 5%;
}
.page:focus {
  outline: none;
}
.edit-para:focus {
  outline: none;
}
.edit-para {
  margin: 100px;
}
.edit-para div {
  display: inline;
  /* flex-direction: column; */
  margin: 0;
}
