.pad {
  display: flex;
  background-color: rgb(249, 251, 253);
  height: 50cm;
  justify-content: center;
  align-items: center;
}
.image-resize {
  outline: 3px solid blue;
  height: 400px;
  width: 250px;
}

.page {
  height: 48cm;
  width: 25cm;
  text-indent: 40px;
  background-color: white;
  border: 1px solid grey;
  overflow: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 5%;
}
.page:focus {
  outline: none;
}
.edit-para:focus {
  outline: none;
}
.edit-para {
  margin: 100px;
}
.edit-para div {
  display: inline;
  margin: 0;
}
