.header {
  display: flex;
  height: 65px;
  margin: 0px;
}
.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

input {
  margin: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  outline: none !important;
  height: 40px;
  width: 450px;
  background-color: #f1f3f4;
}
.buttons {
  margin-left: 0cm;
}
.buttons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.buttons li {
  display: inline-block;
  padding: 10px;
  margin-top: 0px;
  border-radius: 15px;
  cursor: pointer;
}
.buttons li:hover {
  background-color: #f1f3f4;
}
@media (max-width: 700px) {
  input {
    width: 100%;
  }
}
@media (max-width: 1500px) {
  .buttons {
    display: none;
  }
}
.apps {
  cursor: pointer;
}
.signUp {
  background-color: aqua;
  margin: 10px;
  width: 100px;
  border-radius: 20px;
  border: none;
  margin-left: auto;
  justify-content: flex-end;
}
.signUp:focus {
  outline: none;
}
.signUp:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.icon {
  height: 50px;
}
.docs-title {
  display: flex;
  flex-direction: column;
}
