.header {
  display: flex;
  height: 65px;
  background-color: blue;
  margin: 0px;
}

input {
  margin: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  outline: none !important;
}

.signUp {
  background-color: aqua;
  margin: 10px;
  width: 100px;
  border-radius: 20px;
  border: none;
  margin-left: auto;
  justify-content: flex-end;
}
.signUp:focus {
  outline: none;
}
.signUp:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.icon {
  height: 50px;
}
