.pad {
  display: flex;
  background-color: grey;
  height: 50cm;
  justify-content: center;
  align-items: center;
}
.page {
  height: 48cm;
  width: 25cm;
  background-color: white;
  overflow: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.page:focus {
  outline: none;
}
